/* A CSS Framework by Gabriel Dromard of Content with Style */

/* FORM ELEMENTS */
	form {
		margin:0;
		padding:0;
	}
	form div,
	form p {
		font-size: 1em;
		margin: 0 0 1em 0;
		padding: 0;
	}
	label.label {
		font-weight: bold;
		white-space: nowrap;
	}
	.tdLabel {
		text-align: left;
	}
	fieldset {
		border: 1px solid #eee;
		padding: 5px 10px;
		margin: 0 0 1.5em 0;
	}
	fieldset legend {
		color: #666;
		font-size: 1.1em;
		font-weight: bold;
		margin: 0 0 0 0px;
		padding: 0;
		background-color: white;
	}
	* html fieldset legend {
		margin: 0 0 10px -10px;
	}
	fieldset ul {
		list-style: none;
		margin: 0 0 1.5em 0;
		padding: 0;
	}
	fieldset ul li {
		list-style: none;
		margin: 0 0 0.5em 0;
		padding: 0;
	}
     
	
	input, select, textarea {
		font-size:1em; 
		font-family: arial, helvetica, verdana, sans-serif;
        
        margin: 0;
		padding: 2px;
	}
	input.text, select, textarea {
		border: 1px solid darkgray;
		width: 200px;
	}
	select {
		width: 205px;
	}
	input, select {
		vertical-align:middle;
	}
	textarea {
		width: 400px;
		height: 150px;
	}
	
	input.check {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.radio {
		border: none;
		width: auto;
		height: auto;
		margin: 0;
	}
	input.file {
		height: auto;
		width: 250px;
	}
	input.readonly {
		background-color: transparent;
		border: none;
	}
	input.button {
		width: 10em;
		border:1px solid black;
		background-color: #ddd;
	}
	input.image {
		border: none;
		width: auto;
		height: auto; 
	}
	
    form div.submit {
		margin: 1em 0;
	}
    form div.submit input {
		height: 2em;
        width: 15em;
	}
	.buttons {
		text-align: right;
	}
	.btn, .btn:link, .btn:visited {
		background-color:#555555;
		border:1px solid #000000;
		color:#FFFFFF;
		cursor:pointer;
		font-weight:bold;
		margin:5px;
		padding:2px 2px 3px;
		text-decoration:none;
	}
	button.btn, input.btn {
		padding:2px;
		margin: 0px;
	}
/* END FORM ELEMENTS */
		