<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<import resource="applicationContextProperties.xml"/>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
				<property name="databasePlatform" value="org.hibernate.dialect.HSQLDialect" />
			</bean>
		</property>
	</bean>
  
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>${db.driver.classname}</value></property>
        <property name="url"><value>${db.url}</value></property>
        <property name="username"><value>${db.username}</value></property>
        <property name="password"><value>${db.password}</value></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />

	<!-- DAO -->
    <bean id="movieDAO" class="net.dromard.movies.dao.DefaultMovieDAO"/>
    <bean id="castingDAO" class="net.dromard.movies.dao.DefaultCastingDAO"/>
    <bean id="movieNationalityDAO" class="net.dromard.movies.dao.DefaultMovieNationalityDAO"/>
    <bean id="movieGenreDAO" class="net.dromard.movies.dao.DefaultMovieGenreDAO"/>
    <bean id="movieQualityDAO" class="net.dromard.movies.dao.DefaultMovieQualityDAO"/>
    <bean id="movieVersionDAO" class="net.dromard.movies.dao.DefaultMovieVersionDAO"/>
    <bean id="movieFormatDAO" class="net.dromard.movies.dao.DefaultMovieFormatDAO"/>

	<!-- DAOs Locator -->
    <bean id="daoLocator" scope="singleton" class="net.dromard.movies.dao.DAOLocator">
        <property name="movieDAO" ref="movieDAO" />
        <property name="movieNationalityDAO" ref="movieNationalityDAO" />
        <property name="movieGenreDAO" ref="movieGenreDAO" />
        <property name="movieQualityDAO" ref="movieQualityDAO" />
        <property name="movieVersionDAO" ref="movieVersionDAO" />
        <property name="movieFormatDAO" ref="movieFormatDAO" />
        <property name="castingDAO" ref="castingDAO" />
    </bean>

	<!-- Services -->
    <bean id="movieExtractorService" class="net.dromard.movies.service.MovieCoverExtractorService">
        <property name="daoLocator" ref="daoLocator" />
    </bean>

	<!-- Services Locator -->
    <bean id="serviceLocator" class="net.dromard.movies.service.ServiceLocator">
        <property name="daoLocator" ref="daoLocator" />
        <property name="movieExtractorService" ref="movieExtractorService" />
    </bean>

	<!-- Movie Actions -->
    <bean id="moviesAction" scope="prototype"  class="net.dromard.movies.web.action.MoviesAction">
        <property name="serviceLocator" ref="serviceLocator" />
    </bean>
    <bean id="movieAction" scope="prototype"  class="net.dromard.movies.web.action.MovieAction">
        <property name="serviceLocator" ref="serviceLocator" />
    </bean>
</beans>

