/* A CSS Framework by Gabriel Dromard of Content with Style */

/* SITE SPECIFIC LAYOUT */
    body {
        margin: 0;
        padding: 0;
   		background: transparent url(../images/bg-xy.png) repeat;
    }
    div#page {
        width: 850px;
        margin:  0 auto;
    }
    
    /* HEADER */
        div#header {
        	margin: 0;
            padding: 0;
            text-align: left;
            height:186px;
        	width: 100%;
        }
        div#header table.design {
	        min-width: 600px;
        	border-collapse: collapse;
        	width: 100%;
        	margin: 0px;
        	padding: 0px;
        }
		div#header .left {
            background: transparent url(../images/header-left.png) no-repeat;
            width: 299px;
            height:186px;
        }
        div#header .middle {
            background: transparent url(../images/header-x.png) repeat-x;
        }
		div#header .right {
            background: transparent url(../images/header-right.png) no-repeat right 0px;
            width: 265px;
            height: 186px;
		}
        
        div#header .content {
	        display: none;
        }
		div#branding {
			display: none;
            float: left;
            width: 40%;
            margin: 0;
            padding: 10px 0 10px 20px;
            text-align: left;
        }
        div#search {
        	display: none;
            float: right;
            width: 49%;
            margin: 0;
            padding: 16px 20px 0 0;
            text-align: right;
        }
    /* END HEADER */
    
    
    /* CONTENT */
		div#content {
        	margin: 0;
            padding: 0;
            text-align: left;
        	width: 100%;
		}
        div#content table.design {
	        min-width: 600px;
        	border-collapse: collapse;
        	width: 100%;
        	height: 100%;
        	margin: 0px;
        	padding: 0px;
        }
		div#content .left {
            background: transparent url(../images/left-y.png) repeat-y;
            height: 196px;
            width: 56px;
        }
        div#content .middle {
        	background: transparent url(../images/content-xy.png) repeat;
            text-align: left;
            padding-top: 20px;
        	vertical-align: top;
        }
        div#content .right {
            background: transparent url(../images/right-y.png) repeat-y right 0px;
            height: 196px;
            width: 52px;
        }
        div#content .content {
            
        }
        /* MAIN */
            div#main {
                
            }
        /* END MAIN */
        
        /* SUB */
            div#sub {
                
            }
        /* END SUB */
    /* END CONTENT */
    
    
    /* FOOTER */
        div#footer {
        	margin: 0;
            padding: 0;
            text-align: left;
        	width: 100%;
        }
        div#footer table.design {
	        min-width: 600px;
        	border-collapse: collapse;
        	width: 100%;
        	margin: 0px;
        	padding: 0px;
        }
		div#footer .left {
            background: transparent url(../images/footer-left.png) no-repeat;
            height: 182px;
            width: 56px;
        }
        div#footer .middle {
            background: transparent url(../images/footer-x.png) repeat;
            text-align: left;
        }
        div#footer .right {
            background: transparent url(../images/footer-right.png) no-repeat right 0px;
            height: 182px;
            width: 196px;
        }
        div#footer .content {
        	display: none;
            background-color: black;
        }
        div#footer p {
            font-size: 0.8em;
            
            margin: 0;
            padding: 15px;
        }
    /* END FOOTER */
/* END LAYOUT */




/* UL.SUBNAV */
    ul.subnav {
        margin: 0;
        padding: 0;
        
        font-size: 0.8em;
        list-style: none;
    }
    ul.subnav li {
        margin: 0 0 1em 0;
        padding: 0;
        list-style: none;
    }
    ul.subnav li a,
    ul.subnav li a:link,
    ul.subnav li a:visited,
    ul.subnav li a:active {
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
    ul.subnav li a:hover {
        text-decoration: underline;
    }
    ul.subnav li strong {
        padding: 0 0 0 12px;
        background: url("../i/subnav-highlight.gif") left top no-repeat transparent;
    }
    ul.subnav li strong a,
    ul.subnav li strong a:link,
    ul.subnav li strong a:visited,
    ul.subnav li strong a:active {
        color: white;
        background-color: black;
    }
/* END UL.SUBNAV */
