/**
 * CSS menu to be used in combinasion of csshover.htc script.
 * @authore Gabriel DROMARD
 */
#nav .wrapper {
	display: block;
	height: 26px;
	padding: 1px 5px 0px 1px;
	vertical-align: middle;
}

#nav .wrapper ul li a {
	/*align: center;*/
	text-align: center;
}

/* Center without >
#nav .wrapper ul li a.submenu {
	text-align: center;
	background: none;
}
*/

#nav .wrapper div.title {
	font-family: "century gothic", sans-serif;
	font-weight: bold;
	font-size:   14px;
	text-align:  right;
	vertical-align: bottom;
}


#nav .wrapper ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}

#nav .wrapper li {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
}

#nav .wrapper a {
	display: block;
}

/* fix the position for 2nd level submenus. first make sure no horizontal scrollbars are visible on initial page load... */
#nav .wrapper li li ul {
	top: 2px;
	left: 0px;
}

#nav .wrapper li li li ul {
	top: 2px;
	left: 100px;
}

/* ...and then place it where it should be when shown */
#nav .wrapper li li:hover ul {
	left: 100%;
}

/* initialy hide all sub menus */
#nav .wrapper li ul {
	display: none;
	position: absolute;
	z-index: 9;
}

#nav .wrapper li { z-index: 9; }

/* Display them on hover - It manage 4 sub elements */
#nav .wrapper ul ul, #nav .wrapper li:hover ul ul, #nav .wrapper li:hover li:hover ul ul, #nav .wrapper li:hover li:hover li:hover ul ul {
	display:none;
}

#nav .wrapper li:hover ul, #nav .wrapper li:hover li:hover ul, #nav .wrapper li:hover li:hover li:hover ul, #nav .wrapper li:hover li:hover li:hover li:hover ul {
	display:block;
	z-index: 10;
}
#nav .wrapper li:hover { z-index: 10; }

/* this is needed if you want to style #nav .wrapper div - force containment of floated LIs inside of main UL */
#nav .wrapperList:after {
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}

/* Fix for IE5/Mac *//*/
#nav .wrapper a {
	float: left;
}

#nav .wrapperList {
	display: inline-block;
}
/*  */

/*		------   Make-up	--------	*/

#nav .wrapper ul.long li a 			{ width: 260px; }
#nav .wrapper li ul.long 			{ width: 265px; }

#nav .wrapper li li a 				{ width: 210px; }

/*#nav .wrapper li 					{ align: center; }*/
#nav .wrapper li ul a 				{ text-align: left; }

#nav .wrapper li ul, #nav .wrapper li ul ul { background-color: white; width: 222px; }
#nav .wrapper li a.folder 			{ background: url("../images/sub.gif") right no-repeat; }
#nav .wrapper li 					{ padding: 1px; }
#nav .wrapper ul li ul li 			{ border: 0px solid white; font-size: 11px; font-weight: normal; }
#nav .wrapper ul li, #nav .wrapper li ul 	{ border-left: 1px solid #562022; }

/* First menu hover design */
#nav .wrapper ul li a:hover { 
	padding: 2px 3px 2px 3px;
	border: 1px solid #562022;
	background-color:#bbb7c7;
	cursor: pointer;
	color: #562022;
}

/* Sub#nav .wrapper hover design */
#nav .wrapper ul li ul li a:hover { 
}

/*#nav .wrapper a:before { content: ' '; }*/
#nav .wrapper a, #nav .wrapper li a #nav .wrapper li a:visited {
	/*white-space: pre;*/
	margin: 0px 1px 0px 1px;
	padding: 3px 4px 3px 4px;
	text-decoration: none;
	font-weight: bold;
	text-align: left;
}
#nav .wrapper a, #nav .wrapper a:visited {
	color: #FFFFFF;
}
#nav .wrapper li li a, #nav .wrapper li li a:visited {
	color: #562022;
}
#nav .wrapper ul ul { 
	border: 1px solid #555555; 
}
		

/* Transparency */
#nav .wrapper li ul { 
	/* filter: alpha(opacity=70); *//* Not compatible with IE -> su#nav .wrappers are not shown */
	-moz-opacity:0.80; 
}
#nav .wrapper li ul ul { 
	/* filter: alpha(opacity=100); *//* Not compatible with IE -> su#nav .wrappers are not shown */
	-moz-opacity:1.00; 
}